.index_title
	color red
	height 50px
	position relative
	top 110px
	text-align center
	font-size 30px
	line-height 50px
#particles-js
	position fixed
	top 0
	left 0
.dl_box
	position relative
	top 200px
	margin 0 auto
	width 200px;
	height 60px;
	text-align center
	font-size 12px
.dl_input
	height 27px
	margin-bottom 6px
	box-sizing border-box
	border-radius 4px
	border 1px solid #b0b0b0
	padding 10px
.index_pic
	background:url(../img/head.jpg) -11px -1px no-repeat
	background-size 140%
	position relative
	top 150px
	width 100px
	height 100px
	border-radius 30px	
	margin 0 auto
.index_jieshao
	position relative 
	top 170px
	font-size 12px	
	color #b0b0b0
	text-align center
	height 10px
.dl_btn
	height 40px
	font-size 16px
	width 191px
	position relative
	top 220px
	text-align center
	line-height 40px	
	left 50%
	margin-left -95.5px
	border-radius 6px
	border 0
.index_foot
	position relative
	top 300px
	color #b0b0b0
	width 200px
	margin 0 auto
	text-align center

