*
	margin 0
	padding 0
body
	background #E6E6E6
ul,li
	list-style none
.footer
	height 54px
	position fixed
	left 0
	right 0
	bottom 0
	display flex
	background white
.service_shouye,.service_yuyue,.service_xinxi,.service_me,.service_zhongxin
	flex 1	
.footer li.service_shouye .first_pic
	width 21px
	height 21px
	background url(../img/bottom_nor_icon04@2x.png) center no-repeat
	background-size 100%
	margin 0 auto
	margin-top 10px
.footer li.service_yuyue .first_pic
	width 21px
	height 21px
	background url(../img/bottom_nor_icon03@2x.png) center no-repeat
	background-size 100%
	margin 0 auto
	margin-top 10px
.footer li.service_zhongxin .first_pic
	width 44px
	height 38px
	background url(../img/bottom_icon05@2x.png) center no-repeat
	background-size 100%
	margin 0 auto
	margin-top 10px
.footer li.service_xinxi .first_pic
	width 21px
	height 21px
	background url(../img/bottom_nor_icon02@2x.png) center no-repeat
	background-size 100%
	margin 0 auto
	margin-top 10px
.footer li.service_me .first_pic
	width 21px
	height 21px
	background url(../img/bottom_nor_icon01@2x.png) center no-repeat
	background-size 100%
	margin 0 auto
	margin-top 10px			
.footer li.service_shouye .active
	width 21px
	height 21px
	background url(../img/bottom_press_icon04@2x.png) center no-repeat
	background-size 100%
	margin 0 auto
	margin-top 10px
.footer li.service_yuyue .active
	width 21px
	height 21px
	background url(../img/bottom_press_icon03@2x.png) center no-repeat
	background-size 100%
	margin 0 auto
	margin-top 10px
.footer li.service_xinxi .active
	width 21px
	height 21px
	background url(../img/bottom_press_icon02@2x.png) center no-repeat
	background-size 100%
	margin 0 auto
	margin-top 10px
.footer li.service_me .active
	width 21px
	height 21px
	background url(../img/bottom_press_icon01@2x.png) center no-repeat
	background-size 100%
	margin 0 auto
	margin-top 10px		
.footer li.service_shouye .active2
	color #EA5404
.footer li.service_yuyue .active2
	color #EA5404
.footer li.service_xinxi .active2
	color #EA5404
.footer li.service_me .active2
	color #EA5404				
.first_tx
	text-align center
	font-size 12px
	margin-top 4px
	color #B4B4B4	
.lbt_pic1
	background url(../img/timg.jpg) center no-repeat
	background-size 100%
	float left
.lbt_pic2
	background url(../img/timg2.jpg) center no-repeat
	background-size 100%
	float left
.lbt_pic3
	background url(../img/timg3.jpg) center no-repeat
	background-size 100%
	float left
.lbt_pic4
	background url(../img/timg4.jpg) center no-repeat
	background-size 100%	
	float left
.top_lbt_box
	width 3000px
.lbt_bgbox
	overflow hidden	
	margin-top 40px
.top
	height 40px
	background white
	position fixed	
	top 0
	left 0
	right 0
	line-height 40px;
	text-align center

	