<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/css/style.css">
	<link rel="stylesheet" href="../public/css/index_dl.css">
	<title>Mr_Chen_Pet</title>
</head>
<body>
	<div id="particles-js"></div>
	<div class="index_title">陈先生的宠物店</div>
	<div class="index_pic"></div>
	<div class="index_jieshao">一个看似傻逼却很正经的生意人</div>
	<div class="dl_box">
		<input class="dl_input" placeholder="请输入手机号">
		<input class="dl_input" placeholder="请输入登陆密码">
	</div>
	<div class="index_foot">如果没有注册请<a href="">注册</a></div>
	<button class="dl_btn">登陆</button>
	<script src="../public/js/particles.js"></script>
	<script src="../public/js/app.js"></script>
</body>
</html>