<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../../public/css/service.css">
</head>
<body>
	<ul class="footer">
		<li class="service_shouye">
			<div class="first_pic"></div>
			<div class="first_tx">首页</div>
		</li>
		<li class="service_yuyue">
			<div class="first_pic"></div>
			<div class="first_tx">预约</div>
		</li>
		<li class="service_first">
			<div class="first_pic"></div>
			<div class="first_tx"></div>
		</li>
		<li class="service_xinxi">
			<div class="first_pic"></div>
			<div class="first_tx">信息</div>
		</li>
		<li class="service_me">
			<div class="first_pic"></div>
			<div class="first_tx">我</div>
		</li>
	</ul>
</body>
</html>