<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../../public/css/service.css">
</head>
<body>
	<div class="lbt_bgbox">
		<ul class="top_lbt_box">
			<li class="lbt_pic lbt_pic1"></li>
			<li class="lbt_pic lbt_pic2"></li>
			<li class="lbt_pic lbt_pic3"></li>
			<li class="lbt_pic lbt_pic4"></li>
		</ul>
	</div>
	<ul class="footer">
		<li class="service_shouye">
			<div class="first_pic active"></div>
			<div class="first_tx active2">首页</div>
		</li>
		<li class="service_yuyue">
			<div class="first_pic"></div>
			<div class="first_tx">预约</div>
		</li>
		<li class="service_zhongxin">
			<div class="first_pic"></div>
			<div class="first_tx"></div>
		</li>
		<li class="service_xinxi">
			<div class="first_pic"></div>
			<div class="first_tx">信息</div>
		</li>
		<li class="service_me">
			<div class="first_pic"></div>
			<div class="first_tx">我</div>
		</li>
	</ul>

	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript" src="../../public/js/service.js"></script>
</body>
</html>