<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/zc.css">
</head>
<body>
	<div class="zc_title"><div class="zc_title_rt"><strong><</strong></div><div class="zc_title_t">注册</div><div class="title_right_rt">取消</div></div>
	<div class="main_bgbox">
		<div class="main_pic"></div>
		<div class="zc_main">
			<div class="main_num_box"><span class="main_tx">手机号：</span><div class="main_input"><input class="num" type="text"></div></div>
			<div class="main_psw_box"><span class="main_tx">密码：</span><div class="main_input"><input class="psw" type="password"></div></div>
			<div class="clear"></div>
		</div>
		<button class="zc_btn">注册</button>
	</div>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript" src="../public/js/zc.js"></script>
</body>
</html>