<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/zc.css">
</head>
<body>
	<div class="zc_title"><span class="zc_title_rt"><strong><</strong></span><span><strong>注册</strong></span><span class="title_right_rt">取消</span></div>
	<div class="zc_main">
		<div class="main_num_box"><div class="main_tx">手机号：</div><input type="text"></div>
		<div class="main_psw_box"><div class="main_tx">密码：</div><input type="password"></div>
	</div>
</body>
</html>